
img {
    max-width: 100%;
    height: auto;
}

.white_list_wrapper .banner .header_bg, .list-item--list_column .banner .header_bg {
    width: 100%;
    height: 150px;
    background-size: cover !important;
    margin-bottom: 5px;
}

.banner .logo{
	border-radius: 10%;
	border: 1px solid #ccc;
    bottom: 30px;
    position: absolute;
    right: 5px;
    max-height: 90px;
    max-width: 90px;
}

.list-item--list_item_nopadding__center {
    padding-left: 0px;
}

.white_list_wrapper h4, .list-item--list_column h4 {
    font-size: 15px;
	font-weight: 600;
}

.print_location_address {
    padding-left: 8px;
}

.sortby_selected.concat_text {
    width: 85px;
}

#about_wrapper .fixed_header {
    height: 60px;
}

#about_wrapper .map_half{
    height: 300px;
}

.content_page, .list-item--full_list, .list-item--list_style2, .fixed_header h5, .list--list_track ons-list-item {
    letter-spacing: 0px;
}

.list--item_big_thumbnail img.list-item__thumbnail {
    height: auto;
}
.list-item--material.list-item--expandable.list-item--longdivider, .list-item--material.list-item--longdivider {
background-image: linear-gradient(0deg,#eee,#eee 50%,transparent 100%);
}

.list-item--material__thumbnail {
    border-radius: 5px;
}


.list--item_big_thumbnail img.list-item__thumbnail {
    width: 100px;
}

.list--item_big_thumbnail .list-item__left, .list--item_big_thumbnail .list-item--material__left {
    min-width: 110px;
}

.list-item--material__icon {
    padding: 0 0px;
}


.button {
    padding: 0px 10px 0px 10px;
}

.list-item__subtitle {
    font-size: 12px;
	line-height: 1em;
}

.price {
    font-size: 14px;
	font-weight: 600;
}

#resto_list_category .list-item__title{
    font-size: 16px;
	font-weight: 600;
}

.white_list_wrapper h3 {
    letter-spacing: 0px;
}